1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello' : value
-87.8   : value
-       : expression
/       : expression
+       :expression	
6       :Value

2. What is the difference between string and variable?

ans: a string is type of data while the variable is store of data
     string can be written in the "" and can also be defined in the function form of str()
     while variable has to be assigned and type of variable can be found by using type()

3. Describe three different data types 


1. interger : it is data type in which there is integer present as a value or it can be also defined in the form of function as int()
2. boolian  : it contains boolian value that is either True or False holding value as 1 or 0 respectively it can also be defined using bool() as function
3. complex number : it contains the compex data type having both the real and imaginary part for example: 3+4j

4. What is an expression made up of? What do all expressions do?

an expression is made up of operator and operands and it gives back the value when it is used for resulting differetly with different data type

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

the code that we can evaluate and obtain certail value is called expression while the code that can assign the value to variable in the above case is called statement

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon =22

In [4]:
bacon+1

23

so bacon will contain 23 as a value

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

 8. Why is eggs a valid variable name while 100 is invalid?

the eggs does not have any fixed value and can be assigned different value while 100 starts and ends with fixed digit value so it can not be changed mathematically

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int()
float()
str()

this are the three function respectively to ge the value

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [7]:
 'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

the error here states that staring cannot be added with interger in this case the error is shown because the diffenr type of data cannot be always added with simple mathematical operations